target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
.idea/
.idea/*
.DS_Store
.ensime
.ivyjars
example/ai/diffy/examples/http/
data/logs/
data/loki-data/
data/tempo-data/