target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
.idea/
.idea/*
.DS_Store
.ensime
.ivyjars
.classpath
.factorypath
.project
package-lock.json
package.json
.vscode/
.metals/
.bloop/
data/results*
example/ai/diffy/examples/http/
data/logs/
data/loki-data/
data/tempo-data/

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
node_modules
# testing
frontend/coverage

# production
frontend/dist
frontend/node
frontend/yarn.lock

# misc
frontend/.vscode

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/package-lock.json
frontend/yarn.lock